body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  h2 {
    text-align: center
  }
  
  h2#styling {
    text-align: center
  }
  
  p {
    font-size: 1.15em;
    text-align: center;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(211, 208, 208)
  }
  
  button#menu {
    background-color: rgb(231, 231, 238)
  }